<div class="container-fluid">
    <h3 align="center">
        Covid19 - Country wise Statistics
        <small class="text-muted">Summary of Country wise cases for Covid-19</small>
    </h3>
</div>
<div class="container-fluid">
    <div class="card-deck container-fluid">
        <div class= "card-columns" *ngIf="allCountryStats != null; else elseBlock">
            <div class="card box-shadow border-dark">
                <div class="card-header">
                    Country wise Summary        
                </div>
                <div class="card-body">
                    <table class="card-table table table-stripped table-bordered table-hover table-responsive" style="overflow-y: auto;height:400px;">
                        <!--caption> Covid19 - Global Statistics (courtesy - Postman COVID-19 API Resource Center)</caption-->
                        <thead class="thead-light" style="height: auto;">
                            <tr class="text-center">
                                <th> Country </th>
                                <th> Updated </th>
                                <th> Cases &#8593;</th>
                                <th> Today's Cases </th>
                                <th> Deaths </th>
                                <th> Today's Deaths </th>
                                <th> Recovered </th>
                                <th> Active </th>
                                <th> Critical </th>
                                <th> Cases Per One Million </th>
                                <th> Deaths Per One Million </th>
                                <th> Tests </th>
                                <th> Tests Per One Million </th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr *ngFor="let item of allCountryStats">
                                <!--div *ngIf="item.key != 'updated'"-->
                                    <!--td *ngIf="item.key != 'updated'">{{item.key | titlecase }}</td-->
                                    <!--td *ngIf="item.key != 'updated'">{{item.value | number}}</td-->
                                    <td> {{item['country'] | titlecase }} </td>
                                    <td> {{item['updated'] | date:'long'}} </td>
                                    <td class="text-center"> {{item['cases'] | number}} </td>
                                    <td class="text-center"> {{item['todayCases'] | number}} </td>
                                    <td class="text-center"> {{item['deaths'] | number}} </td>
                                    <td class="text-center"> {{item['todayDeaths'] | number}} </td>
                                    <td class="text-center"> {{item['recovered'] | number}} </td>
                                    <td class="text-center"> {{item['active'] | number}} </td>
                                    <td class="text-center"> {{item['critical'] | number}} </td>
                                    <td class="text-center"> {{item['casesPerOneMillion'] | number}} </td>
                                    <td class="text-center"> {{item['deathsPerOneMillion'] | number}} </td>
                                    <td class="text-center"> {{item['tests'] | number}} </td>
                                    <td class="text-center"> {{item['testsPerOneMillion'] | number}} </td>
                                <!--/div-->
                            </tr>
                        </tbody>
                        <!--tfoot>
                            <tr class="text-info">
                                <td colspan="2">
                                    Last updated: {{ globalStats['updated'] | date:'long' }}
                                </td>            
                            </tr>   
                        </tfoot-->
                    </table>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="card mb-4 box-shadow">
                <h5 class="card-header text-dark">
                    Error!
                </h5>
                <div class="card-body">
                    <h5 class="card-title text-danger">Something went wrong!</h5>
                    <p class="card-text text-center text-info">Unable to fetch data, Please try after some time</p>
                </div>
            </div>
        </ng-template>
    </div>
</div>            