<!--div class="container-fluid"-->
    <div class="container-fluid">
        <h3 align="center">
            Covid19 - Global Statistics
            <small class="text-muted">Summary of global cases for Covid-19</small>    
        </h3>
    </div>
    <div class="container-fluid">
        <div class="card-deck container-fluid">
            <div class= "card-columns" *ngIf="globalStats != null; else elseBlock">
                    <div class="card box-shadow border-dark">
                        <div class="card-header">
                            Global Summary        
                        </div>
                        <div class="card-body">
                            <table class="card-table table table-stripped table-bordered table-hover">
                                <!--caption> Covid19 - Global Statistics (courtesy - Postman COVID-19 API Resource Center)</caption-->
                                <thead class="thead-light">
                                    <tr>
                                        <th > Description </th>
                                        <th> Data </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of globalStats | keyvalue">
                                        <!--div *ngIf="item.key != 'updated'"-->
                                            <td *ngIf="item.key != 'updated'">{{item.key | titlecase }}</td>
                                            <td *ngIf="item.key != 'updated'">{{item.value | number}}</td>
                                        <!--/div-->
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="text-info">
                                        <td colspan="2">
                                            Last updated: {{ globalStats['updated'] | date:'long' }}
                                        </td>            
                                    </tr>   
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Total Cases -->
                    <div class="card box-shadow border-primary" *ngIf="globalStats.cases">
                        <h5 class="card-header text-dark">
                            Cases
                        </h5>
                        <div class="card-body">
                            <span class="h2 card-title text-primary">{{globalStats.cases| number}}</span>
                            <p class="card-text">Total number of cases reported Globally across {{globalStats.affectedCountries}} countries</p>
                            <p class="card-text text-info" *ngIf="globalStats.casesPerOneMillion">
                                <small>{{globalStats.casesPerOneMillion}} cases per One Million</small>
                            </p>
                            <app-covid-global-card-urls></app-covid-global-card-urls>
                        </div>
                    </div>

                    <!-- Recoverd Cases -->
                    <div class="card box-shadow border-success" *ngIf="globalStats.recovered">
                        <h5 class="card-header text-dark">
                            Recovered
                        </h5>
                        <div class="card-body">
                            <span class="h2 card-title text-success">{{globalStats.recovered | number}} </span>
                            <span class="h6 text-info">{{globalStats.recovered/globalStats.cases | percent:'1.2'}}</span>
                            <p class="card-text">Total number of recoveries reported Globally</p>
                            <app-covid-global-card-urls></app-covid-global-card-urls>
                        </div>
                    </div>

                    <!-- Death Cases :( -->
                    <div class="card box-shadow border-danger" *ngIf="globalStats.deaths">
                        <h5 class="card-header text-dark">
                            Deaths
                        </h5>
                        <div class="card-body">
                            <span class="h2 card-title text-danger">{{globalStats.deaths| number}} </span>
                            <span class="h6 text-warning">{{globalStats.deaths/globalStats.cases| percent:'1.2'}}</span>
                            <p class="card-text">Total number of deaths reported Globally</p>
                            <p class="card-text text-warning" *ngIf="globalStats.deathsPerOneMillion">
                                <small>{{globalStats.deathsPerOneMillion}} deaths per One Million</small>
                            </p>
                            <app-covid-global-card-urls></app-covid-global-card-urls>
                        </div>
                    </div>

                    <!-- Active Cases -->
                    <div class="card box-shadow border-info" *ngIf="globalStats.active">
                        <h5 class="card-header text-dark">
                            Active
                        </h5>
                        <div class="card-body">
                            <span class="h2 card-title text-info">{{globalStats.active | number}} </span>
                            <span class="h6 text-warning">{{globalStats.active/globalStats.cases| percent:'1.2'}}</span>
                            <p class="card-text">Total number of active cases reported Globally</p>
                            <span class="h2 card-title text-info">{{globalStats.critical | number}} </span>
                            <span class="h6 text-warning">{{globalStats.critical/globalStats.active| percent:'1.2'}}</span>
                            <p class="card-text">Total number of critical cases out of active cases reported Globally</p>
                            <app-covid-global-card-urls></app-covid-global-card-urls>
                        </div>
                    </div>

                    <!-- Today's Cases -->
                    <div class="card box-shadow border-secondary" *ngIf="globalStats.todayCases && globalStats.todayDeaths">
                        <div class="card-header text-info">
                            <span class="h5">Today's Cases</span><br>
                            <span class="text-muted"><small>({{ globalStats['updated'] | date: 'full':'GMT'}})</small></span>
                        </div>
                        <div class="card-body">
                            <span class="h2 card-title text-info">{{globalStats.todayCases | number}} </span>
                            <p class="card-text">Total number of new active cases reported today</p>
                            <span class="h2 card-title text-danger">{{globalStats.todayDeaths | number}} </span>
                            <p class="card-text">Total number of new death cases reported today</p>
                            <span class="h2 card-title text-warning">{{globalStats.affectedCountries | number}} </span>
                            <p class="card-text">Total number of countries affected till date</p>
                            <app-covid-global-card-urls></app-covid-global-card-urls>
                        </div>
                    </div>

                    <!-- Location Card -->
                    <div class = "card box-shadow border-primary" *ngIf="userLocation">
                        <h5 class="card-header text-primary">
                            Your Country
                        </h5>
                        <div class="card-body">
                            <span class="h2 card-title text-info"> {{userLocation.country}} </span>
                            <img src={{userFlagURL}}>
                            <!--a href={{userCountryDataURL}} class="card-link"> View Stats for {{userCountryName}}</a-->
                            <div class="text-left">
                                <a href={{userCountryDataURL}} class="card-link">View Stats for {{userCountryName}}</a>
                            </div>
                                
                        </div>
                    </div>

            </div>
            <ng-template #elseBlock>
                <div class="card mb-4 box-shadow">
                    <h5 class="card-header text-dark">
                        Error!
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title text-danger">Something went wrong!</h5>
                        <p class="card-text text-center text-info">Unable to fetch data, Please try after some time</p>
                    </div>
                </div>
            </ng-template>
        </div>    
    </div>
<!--/div-->